In [1]:
import pytablereader as ptr

In [2]:
ptr.TableFileLoader.get_format_name_list()

[u'csv',
 u'excel',
 u'html',
 u'json',
 u'ltsv',
 u'markdown',
 u'mediawiki',
 u'sqlite',
 u'tsv']

In [3]:
ptr.TableUrlLoader.get_format_name_list()

[u'csv',
 u'excel',
 u'html',
 u'json',
 u'ltsv',
 u'markdown',
 u'mediawiki',
 u'sqlite',
 u'tsv']

In [4]:
from pytablereader import TableData

TableData(
    table_name="sample",
    header_list=["a", "b"],
    record_list=[[1, 2], [3.3, 4.4]]
).as_dict()

{'sample': [{'a': 1, 'b': 2}, {'a': 3.3, 'b': 4.4}]}

In [5]:
from pytablereader import TableData

TableData(
    table_name="sample",
    header_list=["a", "b"],
    record_list=[[1, 2], [3.3, 4.4]]
).as_dataframe()

     a    b
0    1    2
1  3.3  4.4